@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
}

*::-webkit-scrollbar{
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, 0.512);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #28335c;    /* color of the scroll thumb */
}